<div id="admin-sessions-new-page" class="admin-sessions-area">
<div class="center hero-unit">
  <h1>NagResignAko Admin Pages</h1>  
</div>
<div class="form-area">
  <h4>Set Password</h4>
  <h5>Please reset your password.</h5>
  <%= form_for @admin, url: change_pw_path do |f|%>
    <%= render 'shared/admin_error_messages' %>
    <%= f.hidden_field :email %>
    <%= f.hidden_field :name %>
    <%= f.label :password %>
    <%= f.password_field :password %>
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation %>
    <div class="clear"></div>
    <%= f.submit "Login", class: "btn btn-primary pull-right"%>
  <% end %>
</div>
</div>