<div id="admin-add-seed-page">
<%= form_for @post, url: edit_seed_url(@post.id), :html=>{:method=>:put} do |f| %>

  <%= f.label :title %>
  <%= f.text_field :title %>
  
  <%= f.label :name %>
  <%= f.text_field :name %>
  
  <%= f.label :age %>
  <%= f.number_field :age %>
  
  <%= f.label :former_job %>
  <%= f.text_field :former_job %>
  
  <%= f.label :entry %>
  <%= f.text_area :entry, cols: 40, rows: 5 %>
  <div>
    <%= f.submit "Edit Content", class: "btn btn-primary" %>
  </div>
<% end %>
</div>