<div id="admin-action-manage-queue-page">
  <div>
    <nav class="right-pull navbar">
      <ul class="nav">
        <li><%= link_to "Pushed Items", "?pushed=true" %></li>
        <li><%= link_to "Queued Items", "?pushed=false", class: "active" %></li>
      </ul>
    </nav>
    <div class="clear"></div>
  </div>
  <table class="table table-striped">
    <thead>
      <tr><th>Post ID</th><th style="width: 400px;">Post Entry</th><th>Entry Date</th><th>Date Pushed</th><th>Action</th></tr>
    </thead>
    <tbody>
      <% @queue_items.each do |item| %>
        <tr>
          <td><%= item.post_id %></td>
          <td>&nbsp;</td>
          <td><%= item.timestamp_pushed %></td>
          <td><%= item.created_at %></td>
          <td>
            <% if !item.pushed %>
              <%= link_to "Unqueue", delete_queue_url(item), method: "delete" %><br />
              <%= link_to "Force Push", force_push_url(item), method: "post" %>            
            <% end %>            
          </td>
        </tr>
      <% end %>
      
    </tbody>
  </table>
</div>