<div id="admin-action-manage-queue-page">
  <div>
    <nav class="right-pull navbar">
      <ul class="nav">
        <li><%= link_to "Queued Items", "?pushed=false"%></li>
        <li><%= link_to "Pushed Items", "?pushed=true" %></li>
        <li><%= link_to "Consume Queue", admin_actions_consume_queue_path, method: "post" %></li>
      </ul>
    </nav>
    <div class="clear"></div>
  </div>
  <table class="table table-striped">
    <thead>
      <tr><th>Post ID</th><th style="width: 400px;">Post Entry</th><th>Entry Date</th><th>Date Queued</th><th>Action</th></tr>
    </thead>
    <tbody>
      <% @queue_items.each do |item| %>
        <tr>
          <td><%= item.post_id %></td>
          <td><p><strong>Name, Age, Former Job:</strong>
                <%= "#{item.post.name} | #{item.post.age} | #{item.post.former_job}" %></p>
              <p><%= item.post.entry %></p>
            </td>
          <td><%= item.post.created_at %></td>
          <td><%=  item.created_at %></td>
          <td>
            <% if !item.pushed %>
              <%= link_to "Unqueue", manage_posts_url(item.post, "unqueue"), method: "post" %><br />
              <%= link_to "Force Push", force_push_url(item), method: "post" %>            
            <% end %>            
          </td>
        </tr>
      <% end %>
      
    </tbody>
  </table>
  <%= paginate @queue_items %>
</div>