<div id="admin-actions-manage-posts" class="admin-action-pages">
<h2>Manage Posts</h2>
<p>You can remove or delete spam using this tool.</p>
<table class="table table-striped">
  <thead>
    <tr><th>ID</th><th>Title</th>
      <th style="width: 200px">Entry</th><th>User</th><th>Name</th><th>Age</th><th>Former Job</th>
      <th>Votes<br>Good# | Bad# | Spam#</th>
      <th>Queued?</th>
      <th>Action</th></tr>
  </thead>
  <tbody>
<% @posts.each do |post| %>
<tr>
  <td><%= post.id %></td>
  <td><%= link_to post.title, single_url(hash: post.permalink) %></td>
  <td><%= post.entry %></td>
  <td><%= post.user_id != nil ? post.user.email : "Admin" %></td>
  <td><%= post.name %></td>
  <td><%= post.age %></td>
  <td><%= post.former_job %></td>
  <td><%= post.total_good %> | <%= post.total_bad %> | <%= post.reported_spam %></td>
  <td>
     <%= post.post_queue != nil ? "Yes" : "No" %>
  </td>
  <td><%= link_to "Spam", manage_posts_url(post, "hide"), method: "post"  %>
      <br/>
      <% if post.user_id == nil%>
      	<%= link_to "Edit", edit_seed_url(post.id) %><br/>
      <% end %>
      <% if post.post_queue != nil %>
        <% if !post.post_queue.pushed %>
          <%= link_to "Unqueue", manage_posts_url(post, "unqueue"), method: "post" %>
        <% else %>
          Pushed
        <% end %>
      <% else %>
        <%= link_to "Queue", manage_posts_url(post, "queue"), method: "post" %>
        <%= link_to "Delete", manage_posts_url(post, "delete"), method: "delete" %><br/>        
      <% end%>
  </td>
</tr>
<% end %>
</tbody>
</table>
<%= paginate @posts %>
</div>
