<% if @display %>
<% if notice %>
<p id="notice"><%= notice %></p>
<% end %>

<% if !@is_ajax %>
  <div id="new-entries-container" total-count="<%=@total_count%>">
<% else %>
    <div class="entry-line-adverts">
        <%= link_to (image_tag load_advert "scrolling-advert-#{(@page % 5) + 1}", "http://placehold.it/651x85"), "http://www.freelancer.com" %>
    </div>
<% end %>

<div id="hot-entries-area">
<% #(11..20).each do |i| %>
<% unless @posts.nil? %>
<% @posts.each do |post| @post = post %>
  <%= render 'layouts/entry', post: @post %>
<% end %>
<% end %>
</div>

<% if !@is_ajax %>
  </div>
<% end %>
<% end %>

<% if @is_ajax %>
<div id="loading-container">Loading <img src="/assets/ajax-loader.gif" /></div>
<% end %>

<% if @is_ajax %>
<div id="end-of-file">
	<%= image_tag "boy.png" %>
</div>
<% end %>
