<div class="entry-item">
  <div class="entry-header-area">
    <h3 class="user-name pull-left"><%= @post.title %></h3>
    <div class="timestamp-area pull-right">
    <%= link_to @post.created_at.to_formatted_s(:long), single_url(hash: (@post.permalink)) %>
    </div>
    <div class="clear"></div>
  </div>
  <div class="user-post">
    <%= @post.entry %>    
  </div>
  <div class="user-source-data">
    <h4 class="user-name pull-right"><%= @post.name %>, <%= @post.age %>, <%= @post.former_job %></h4>
    <div class="clear"></div>
  </div>
  <div class="entry-votes">
    <button class="voter-element btn btn-small pull-left">
      <i class="icon-hand-up"></i>
      <span>Right way to do it <strong><%= @post.total_good %></strong></span>
    </button>
    <button class="voter-element btn btn-small pull-left">
      <i class="icon-hand-down"></i>
      <span>Wrong way to do it <strong><%= @post.total_bad %></strong></span>
    </button>
    
    <ul class="like-buttons">
      <li class="fb-like">
        <fb:like href="<%= single_url(hash: (@post.permalink)) %>" send="false" layout="button_count" width="100" show_faces="false"></fb:like>
      </li>
      <li class="twitter-like">
        <a href="https://twitter.com/share" class="twitter-share-button" data-url="<%= single_url(hash: (@post.permalink)) %>" data-via="pikittakbo">Tweet</a>
      </li>
      <li class="g-plus-one">
        <g:plusone size="medium" href="<%= single_url(hash: (@post.permalink)) %>"></g:plusone>
      </li>
    </ul>    
    <div class="clear"></div>
    <div class="report-spam-area pull-right">
      <a href="#">
        <i class="icon-flag"></i>
        <span>Report as Spam</span>
      </a>
    </div>
    <div class="clear"></div>
  </div>
</div>