    <header class="navbar navbar-banner navbar-inverse">
      <div class="navbar-inner">
        <div class="container">
          <%= link_to (image_tag "base/header.png"), root_url, id: "logo" %>

          <nav id="main-nav-area">
            <ul class="nav pull-left">
              <li class="new-nav-item">
                <%= link_to (sprite_tag is_new? ? "new-active" : "new-inactive"),   new_path, class: "hd-link-item new-path" %>
              </li>
              <li class="hot-nav-item">
                <%= link_to (sprite_tag (is_hot? || is_topgood? || is_topbad?) ? "hot-active" : "hot-inactive"),    hot_path, class: "hd-link-item hot-path" %>
              </li>
              <%# li><%= link_to "Top Good",    topgood_path, class: "hd-link-item hot-path" </li> %>
              <%# li><%= link_to "Top Bad",    topbad_path, class: "hd-link-item hot-path" </li>%>
              <li class="submit-nav-item">
                <%= link_to (sprite_tag is_submit? ? "submit-active" : "submit-inactive"), submit_path, class: "hd-link-item submit-path" %>
              </li>
            </ul>
          </nav>
          <% if is_hot? or is_topgood? or is_topbad? %>
          <nav id="hot-top-items"> 
          	<ul>
          		<li>
          			<%= link_to (sprite_tag is_topgood? ? "topgood-active" : "topgood-inactive"), topgood_path, class: "hd-link-item topgood-path" %>
          		</li>
          		<li>
          			<%= link_to (sprite_tag is_topbad? ? "topbad-active" : "topbad-inactive"), topbad_path, class: "hd-link-item topbad-path" %>
          		</li>
          	</ul>
          </nav>
          <% end %>
        </div>
      </div>
    </header>
    
    <%# This header will be invisible until user scrolls down%>
    <header class="navbar navbar-scrolled navbar-fixed-top">
      <div class="navbar-inner">
        <%= link_to "Logo Area", new_path, class: "brand" %>
        <ul class="nav">
          <li class="<%=  "active" if action_name == "new" %>"><%= link_to "New", new_path%></li>
          <li class="<%=  "active" if action_name == "hot" %>"><%= link_to "Hot", hot_path%></li>
          <li class="<%=  "active" if action_name == "submit" %>"><%= link_to "Submit", submit_path%></li>
        </ul>  
      </div>
    </header>