    <header class="navbar navbar-inverse">
      <div class="navbar-inner">
        <div class="container">
          <%= link_to "This is Something Not Yet Made", '#', id: "logo" %>

          <nav>
            <ul class="nav pull-left">
              <li><%= link_to "New",    new_path, class: "hd-link-item new-path" %></li>
              <li><%= link_to "Hot",    hot_path, class: "hd-link-item hot-path" %></li>
              <li><%= link_to "Top Good",    topgood_path, class: "hd-link-item hot-path" %></li>
              <li><%= link_to "Top Bad",    topbad_path, class: "hd-link-item hot-path" %></li>
              <li><%= link_to "Submit", submit_path, class: "hd-link-item submit-path" %></li>
            </ul>
          </nav>
          
          
        </div>
      </div>
    </header>