<!DOCTYPE html>
<html>
<head>
  <title>Resignako</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body data-controller="<%= controller_name %>" data-action="<%= action_name %>">
<%= render 'layouts/header'%>
<div id="page-container">  
  <div class="container-fluid">
    <div class="row-fluid">
      <div class="span8">
        <%= yield %>
      </div>
      <div class="span4">
        <%= render 'layouts/sidebar' %>
        <!-- This area is for the sidebar-->
      </div>
    </div>
  </div>
</div>
<%= render 'layouts/footer'%>
</body>
</html>
